.recent-blog-comments i{
    margin-right: 7px;
}
.my_pagination /deep/ .ngx-pagination .current{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
      margin-top: 50px;
      margin-left: 150px;
      margin-right: 150px;
      font-family: "Montserrat";
      text-align: center;
      overflow: hidden;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      
      
  }
  .my_pagination /deep/ .ngx-pagination :hover{
     
    
          background: var(--gradient-color);
          color: var(--white);
      
  }