<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-header">
            <h5>Add New pet</h5>
          </div>
        <form  [formGroup]="ajoutForm" (ngsubmit)="ajouterAnimal()" >
            <div class="formulaire">
                <div class="form-title">
                    <label for="titre">Picture</label><br>
        
                 <div class="photo-div">
                 <div class="pet-pic-div">
                <img [src]="imgURL" class="pet-pic" >
               </div>
                <input id="default-btn" type="file" hidden  #file accept="image/*" (change)="onSelectFile($event)"  formControlName="image">
                <button  id="edit-btn" (click)="file.click()"><i class="fa-regular fa-pen-to-square"></i>Edit</button>
              
                </div>
            </div>
            <div class="ligne">
                <div class="form-title">
                    <label for="titre">Nom</label><br>
                    <input type="text" class="input"  placeholder="Name" formControlName="nom"  >
                </div>
                <div class="form-date">
                    <label for="date">Birthdate</label><br>
                    <input type="date" class="input"  placeholder="Name" formControlName="daten" >
                </div>
            </div>
            <div class="ligne">
                <div class="form-desc">
                    <label for="desc">Size (kg) </label><br>
                    <input type="text" class="input" placeholder="size" formControlName="poids"  >
                </div>
                
                <div class="form-anim">
                    <label for="Anim">Type </label><br>
                    <select name="race" id="pet_type" formControlName="race">
                        <option value="cat" >Cat</option>
                        <option value="dog">Dog</option>
                      </select>
                </div>
                </div>
            </div>    
            <div class="add-todo-btn">
                <button class="btn save" (ngsubmit)="ajouterAnimal()"><i class="fa-solid fa-pen-to-square" style="color: #001d23;"></i>Add Animal</button>
                <button class="btn cancel" routerLink="/dashboard"><i class="fa-solid fa-xmark" style="color: #001d23;"></i> cancel</button>

            </div>
            
        </form>










    </div>
</div>
