<footer>
    <div class="container">
    <div class="row pt-90 pb-90 justify-content-center">
    <div class="col-lg-3 col-sm-6 order-lg-1 order-2 d-flex justify-content-sm-start justify-content-start">
    <div class="footer-items contact ">
    <h3>Contacts</h3>
    <div class="hotline mb-30">
    <div class="hotline-icon">
    <img src="assets/images/icon/phone-icon.svg" alt="">
    </div>
    <div class="hotline-info">
    <h6 class="mb-10"><a href="tel:+8801761111456">+880 176 1111 456</a></h6>
    <h6><a href="tel:+8801701111000">+880 170 1111 000</a></h6>
    </div>
    </div>
    <div class="email mb-30">
    <div class="email-icon">
    <img src="assets/images/icon/envelope.svg" alt="">
    </div>
    <div class="email-info">
    <h6 class="mb-10"><a href="https://demo.egenslab.com/cdn-cgi/l/email-protection#f59c9b939ab5908d9498859990db969a98"><span class="__cf_email__" data-cfemail="6a03040c052a0f120b071a060f44090507">[email&#160;protected]</span></a></h6>
    <h6><a href="https://demo.egenslab.com/cdn-cgi/l/email-protection#1b72757d745b686e6b6b74696f35787476"><span class="__cf_email__" data-cfemail="6d04030b022d1e181d1d021f19430e0200">[email&#160;protected]</span></a></h6>
    </div>
    </div>
    <div class="email">
    <div class="email-icon">
    <img src="assets/images/icon/location.svg" alt="">
    </div>
    <div class="email-info">
    <h6 class="mb-10"><a>168/170, Avenue 01, Mirpur</a></h6>
    <h6><a>DOHS, Bangladesh</a></h6>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center order-lg-2 order-1 justify-content-sm-center justify-content-start">
    <div class="footer-items">
    <h2>want <span>to keep</span><br>
    your pet in, <span>our center</span>?</h2>
   
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex justify-content-sm-end justify-content-start order-3">
    <div class="footer-items opening-time">
    <h3>Opening Hours</h3>
    <h6 class="mb-25">Mon - Fri: 9.00AM - 6.00PM</h6>
    <h6 class="mb-25">Saturday: 9.00AM - 6.00PM</h6>
    <h6>Sunday: Closed</h6>
    <ul class="social-icons">
    <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
    <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
    <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest-alt"></i></a></li>
    <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
  
    </div>
    </footer>