<app-header1></app-header1>
<div class="dashboard-container">
  <app-dashboard-menu></app-dashboard-menu>
  <div class="feed-content container">
    <div class="row gy-5">
      <div class="feed-content-header">
        <h5>Boarding Addresses</h5>
        <!-- <span style="color: black;"><img src="assets/images/icon/section-vec-l1.svg" alt=""> Boarding Addresses<img src="assets/images/icon/section-vec-r1.svg" alt=""></span> -->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 item" *ngFor="let ser of liste4 | paginate:{itemsPerPage:8,currentPage:page,totalItems:nbg}">
        <div class="single-team-card">
            <div class="member-img">
              <img [src]="ser.img" class="img-fluid" alt="" />
            </div>
            <div class="member-content"style="text-align: center;">
              <h3 style="color:black;font-family:'Times New Roman', Times, serif;">{{ ser.nom }}</h3>
              <span  style=" background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%); -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;">{{ ser.email }}</span><br />
              <span  style=" background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%); -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;">{{ ser.tel }}</span><br />
              <span  style=" background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%); -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;">{{ ser.adresse }}</span>
            </div>
          </div>
      </div>
      <pagination-controls  (pageChange)="page=$event" class="my_pagination" style="text-align: center;" ></pagination-controls>
    </div>
  </div>
</div>
