.dashboard-container{
    width: 100%;
    position: relative;
    font-family: var(--font-cabin);
    color: #868686;
}
.feed-content{
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 7rem ;
}
.feed-content-header{
    width: 100%;
    padding: 1rem 0 0; 
    font-weight: 600;
}

.feed-content-header h5{
    color: var(--title-color1);
    font-weight: bold;
    font-size: 1.5rem;
}



/* chatbot*/
#chat-window {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  #chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f46f30;
    height: calc(100vh - 200px);
    max-height: calc(60vh - 100px);
    overflow: auto;
  }
  
  #chat-form {
    display: flex;
    align-items: center;
  }
  
  #chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    /* border: 1px solid #F86CA7; */
    border: 1px solid #f46f30;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
     /* -webkit-text-fill-color: transparent;  */
    border: 1px solid #f46f30;
    color: #a1a1a1;
    font-size: 1rem;
    /* font-weight: bold; */
  }

  button[type="submit"]:hover{
  
    background: var(--gradient-color);
    color: var(--white);
}
  .bot-message {
    font-family: "Roboto", sans-serif;
    background-color: #f5d8d8; /* different light color */
    text-align: justify; /* keep it right-aligned */
    padding: 15px; /* added padding */
    margin-top: 10px; /* added margin-top to create a gap */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-style: italic;
    
  }
  
  .user-message {
    font-family: "Nunito", sans-serif;
    background-color:  #deeefb; /* light color */
    text-align: left; /* changed text align to left */
    padding: 15px; /* added padding */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    font-style: italic;

  
  } 
  .user-message img,
  .bot-message img {
    width:40px; /* adjust the width of the icon */
    height: 40px; /* adjust the height of the icon */
    margin-right: 20px; /* add some margin to separate the icon from the message */
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
    #chat-window {
      width: 90%;
    }
  }
  .main-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 0.5rem;
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
  }
  


  /*************** Right ***************************/
  .feed-content-right{
    width: 40%;
    margin-left: 100px;
}
.birthdays-div{
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 1px 1px rgba(112, 112, 112, 0.11), 
    0 2px 2px rgba(112, 112, 112, 0.11), 
    0 3px 4px rgba(112, 112, 112, 0.11), 
    0 4px 8px rgba(0,0,0,0.11);
    border-radius: 5px;
    margin-bottom: 30px;
}
.birthdays-div h5{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 1.4rem;
}
.celebrate-div{
    display: flex;
    justify-content:baseline;
    align-items: baseline; 
    margin-top: 10px;
    padding: 0 10px;
   
}
.celebrate-div i{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
    font-size: 1.3rem;
}
.celebrate-div p{
    color: var(--title-color1);
}
.gift-img{
    margin-right: 10px;
    width: 50px;
}