<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-header">
            <h5>Ask CHAT-GPT</h5>
          </div>
            <div id="chat-window">
                <div id="chat-messages"></div>
                <form id="chat-form">
                  <input type="text"id="chat-input"   autocomplete="off" placeholder="Type your message here" />
                    <button type="submit" (click)="sendMessage()">Send</button>     
                </form>
              </div>
        </div>
    </div>
  
  
