<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-header">
            <h5>To Do list</h5>
            <div class="buttons">
                <a href="/todolists">
                    <button class="todo-important-btn todo-btn"> My ToDoLists</button>
                  </a>
                  <a >
                    <button class="todo-add-btn todo-btn" routerLink="/addtodo">Add To List</button>
                    <!-- routerLink="/addtodo" -->
                  </a>
             </div>
          </div >


          <div class="blog-list">
            <div class="animals-todos">
                <div class="entete-todo">
                    <div class="animal-name">
                    <!-- <img src="../../assets/images/cat.jpg" class="img-animal-todolist"> -->
                    <h6 class="animal-tit"><i class="fa-solid fa-list-check"></i>   My  Featured  Liste</h6>
                </div>
                    <button (click)="toDown()" class="fa-solid-fa-angle-down btn-down"> 
                        <p class="nb-todo">{{nbranim}}</p> 
                        <i class="fa-solid fa-angle-down" style="color: #f46f30;"></i>
                    </button>
                </div>
                <div class="todo-content" >
                    <div class="todo-element" *ngFor="let ser of liste ">
                    <div class="todo-element-entete">
                        <img src="../../assets/images/todo_icon.png" class="icon-todolist">
                        <div class="todo-element-entete-txt">
                            <h5 class="todo-element-tit">{{ser.titre}} </h5>
                            <div class="tache">
                                <h6 class="todo-element-date" style="color:blue"> {{ser.anim}}</h6>  
                                <h6 class="todo-element-date">{{ser.date}} </h6> 
                            
                            </div>
                           
                        </div>
                    </div>
                   
                    <p class="todo-element-desc">{{ser.description}}</p> 
                    <div class="todo-element-icons">
                        <div class="fav-done">
                            Important?
                            <button><i class="fa-solid fa-star" style="color: #f46f30;"></i></button>
                            Done?
                            <button><i class="fa-regular fa-circle-check" style="color: #f46f30;"></i></button>
                        </div>     
                    </div>  
                </div>
                
            </div>
            </div>
        </div>
  
        </div>
    </div>