<!DOCTYPE html>
<html lang="en">
  <body>
    <app-header></app-header>
    <div class="inner-page-banner">
      <div class="breadcrumb-vec-btm">
        <img
          class="img-fluid"
          src="assets/images/bg/inner-banner-btm-vec.png"
          alt=""
        />
      </div>
      <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-6 align-items-center">
            <div class="banner-content">
              <h1>Login</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Login
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-img d-lg-block d-none">
              <div class="banner-img-bg">
                <img
                  class="img-fluid"
                  src="assets/images/bg/inner-banner-vec.png"
                  alt=""
                />
              </div>
              <img
                class="img-fluid"
                src="assets/images/bg/inner-banner-img.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="login-section pt-120 pb-120">
      <div class="container">
        <div class="row d-flex justify-content-center g-4">
          <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="form-wrapper wow fadeInUp"  data-wow-duration="1.5s" data-wow-delay=".2s">
              <div class="form-title">
                <h3>Log In</h3>
                <p>New Member? <a href="/register">Signup here</a></p>
              </div>
              <form class="w-100" [formGroup]="loginForm" (ngsubmit)="loginProprietaire()">
                <div class="row">
                  <div class="col-12">
                    <div class="form-inner">
                      <label>Enter Your Email *</label>
                      <input type="email" placeholder="Enter Your Email" formControlName="email"/>
                    </div>
                    <div *ngIf="email?.touched && email?.invalid">
                      <small class="text-danger" *ngIf="email?.errors?.['required']">Email Address
                        is required</small>
                      <small class="text-danger" *ngIf="email?.errors?.['email']">Respect The Format Of THe Email Address</small>  
                  </div>
                  </div>
                  <div class="col-12">
                    <div class="form-inner">
                      <label>Password *</label>
                      <input [type]="type"  name="password"   id="password"  placeholder="Password" required formControlName="mdp"/>
                      <i class="bi {{ eyeIcon }}"   id="togglePassword"  (click)="hideShowPass()" ></i>
                    </div>
                    <div *ngIf="mdp?.touched && mdp?.invalid">
                      <small class="text-danger" *ngIf="mdp?.errors?.['required']">Password 
                        is required</small>
                  </div>
                  </div>
              
                </div>
                <button class="account-btn" (click)="loginProprietaire()">Log in</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
