
.dashboard-container{
  
    width: 100%;
    position: relative;
    font-family: var(--font-cabin);
    color: #868686;
}
.feed-content{
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 1.2rem 7rem;
}
.feed-content-header{
    width: 100%;
    padding: 1rem 0; 
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feed-content-header h5{
    color: var(--title-color1);
    font-weight: bold;
    font-size: 1.5rem;
}
.todo-btn {
    padding:5px 0px;
    width: 200px;
    border-radius: 5px;
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #f46f30;
    text-align: center;
}
.todo-btn:hover{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-text-fill-color: white;
    border: 1px solid transparent;
}
.todo-important-btn{
    margin-right: 20px;
}
.blog-list{
    width: 100%;
       background-color: white;
       box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
       0 1px 1px rgba(112, 112, 112, 0.11), 
       0 2px 2px rgba(112, 112, 112, 0.11), 
       0 3px 4px rgba(112, 112, 112, 0.11), 
       0 4px 8px rgba(0,0,0,0.11);
       border-radius: 5px;
       padding: 1rem 0;
       min-height: 500px;
       margin: 1rem 0;
   }
   .blog-list .animals-todos{
       margin:20px;
       border: 1px solid #979696;
       color: var(--title-color1);
       border-radius: 5px;
   }
   .entete-todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
   }
   .animal-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .img-animal-todolist{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
   }
   .animal-tit{
    font-weight: 700;
   }
   .animal-description{
       min-width: 600px;
   }
   .btn-down{
       display: flex;
       justify-content: center;
       align-items: baseline;
       background: none;  
   }
   .btn-down p{
    color: var(--title-color1);
   }
   .btn-down i{
    margin-left: 5px;
   }
   .todo-element{
    margin: 1rem;
    background-color: #dad8d8;
    padding:0.5rem  1rem;
    border-radius: 5px;
   }
   .todo-element-entete{
    display: flex;
    justify-content: baseline;
    align-items: start;
   }
   .todo-element-entete-txt{
    margin-left: 10px;
   }
   .todo-element-entete-txt h6{
    font-size: 13px;
   }
   .todo-element-desc{
    color: var(--title-color1);
   }
   .fav-done{
       display: flex;
       align-items: center;
   }


   .icon-todolist{
       width:50px;
       height: 50px;
   }
   
   .blog-list .animals-todos .done{
       background: #4d5253;
   }
   .fa-star ,.fa-circle-check{
       margin-right: 30px;
       
       
   }
   .todo-element-icons button{
       display: flex;
       background: none;
       align-items: center;
      
   
   }
   .todo-element-icons{
       display: flex;
       align-items: center;
   }
   .fa-pen-to-square{
       position: absolute;
       right: 50px;
   }
   .todolists-title button{
       background: none;
   }
  
   .tache{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   
   
