@import '~@fortawesome/fontawesome-free/css/all.css';
.dashboard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    font-family: var(--font-cabin);
    color: #868686;
}
.feed-content{
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 1.2rem 7rem;
    display: flex;
    justify-content: space-between;
    

   /*  align-items: baseline; */
}
.feed-content-left{
    
    display: block;
    padding: 1rem;
    width: 75%;
}
.feed-content-todo-menu{
    
    display: inline-block;
    width: 722px;
    padding: 15px 0; 
    font-weight: 600;
    height: 100px;
    margin: 0;
    
    
}
.feed-content-todo-menu ul{
       
    background-color: #001D23;
    display: flex;                 
    padding: 15px; 
    justify-content: center; 
     
}
.feed-content-todo-menu ul li{
    list-style-type: none ;  
    justify-content: center; 
}
.feed-content-todo-menu ul li a{
    display:block;                
    min-width: 80px;            
    text-decoration: none;
    font-size: small;
    justify-content: center;
    color: #4d5253;
    
}
.feed-content-todo-menu h5{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.todo-btn{
    
    position: relative;
    right:-100px;
    top: -10px;
}
.todo-important-btn , .todo-add-btn{
    min-width: 150px;
    min-height:30px;
    background: linear-gradient(90deg, #F86CA1 0%, #F46F30 100%);
    color: white;
    margin-right: 10px;
}
.todolists-title{
    position: relative;
    right: 100px;
}

.blog-list{
    position: absolute;
    top:70%;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 1px 1px rgba(112, 112, 112, 0.11), 
    0 2px 2px rgba(112, 112, 112, 0.11), 
    0 3px 4px rgba(112, 112, 112, 0.11), 
    0 4px 8px rgba(0,0,0,0.11);
    border-radius: 5px;
    width:722px;
    margin: 0;
    min-height: 500px;
}
.blog-list .animals-todos{
    margin:20px;
    border: #000 solid;
    color:#000;
    display: block;
    min-height: 50px;
    justify-content: center;
    padding-top:10px ;
}
.animal-description{
    min-width: 600px;
}
.fa-solid-fa-angle-down{
    display: flex;
    position: absolute;
    right: 50px;
    color: #4d5253;
    background: none;
    
}
.blog-list .down{
    min-height: 300px;
}
.blog-list .animals-todos .animal-tit{
    position: relative;
    right: -5px;
}
.nb-todo{
    font-size: 11px;
}
.blog-list .animals-todos .entete-todo{
    display: flex;
    position: relative;
    
}
.blog-list .animals-todos .todo-element{
    display: block;
    position: relative;
    background-color: #f3f5f6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 1px 1px rgba(112, 112, 112, 0.11), 
    0 2px 2px rgba(112, 112, 112, 0.11), 
    0 3px 4px rgba(112, 112, 112, 0.11), 
    0 4px 8px rgba(0,0,0,0.11);
    border-radius: 5px;
    max-width: 600px;
    margin-left: 50px;
    padding: 20px;
}
.fav-done{
    display: flex;
}
.img-animal-todolist{
    border-radius: 50%;
    width:40px;
    height: 40px;
    position: relative;
    top: -5px;
    margin-left: 5px;
}
.todo-element-entete{
    display: flex;
}
.icon-todolist{
    width:50px;
    height: 50px;
}

.blog-list .animals-todos .done{
    background: #4d5253;
}
.fa-star ,.fa-circle-check{
    margin-right: 30px;
    
    
}
.todo-element-icons button{
    display: flex;
    background: none;
   

}
.todo-element-icons{
    display: flex;
}
.fa-pen-to-square{
    position: absolute;
    right: 50px;
}
.todolists-title button{
    background: none;
}
