<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-left">
            <div class="feed-content-left-header">
                <h5>Forums</h5>
                <div class="categories">
                    <a class="actif-categ">Popular</a>
                    <a>Featured</a>
                    <a>Recent</a>
                    <a>Unanswered</a>
                </div>
            </div>
        <div class="blog-list">
            <a routerLink="/blog" class="blog-item">
                <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
                <div class="blog-details">
                    <h5 class="blog-title">I have recently found this particular...</h5>
                    <h6>Posted By: Alex Raboudi</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
                </div> 
                <div class="engagement">
                    <i class="fa-solid fa-message"></i>
                    <h5>4</h5>
                </div>
            </a>
        <hr>
        <a routerLink="/blog" class="blog-item">
            <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
            <div class="blog-details">
                <h5 class="blog-title">I have recently found this particular...</h5>
                <h6>Posted By: Alex Raboudi</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
            </div> 
            <div class="engagement">
                <i class="fa-solid fa-message"></i>
                <h5>4</h5>
            </div>
        </a>
    <hr>
    <a routerLink="/blog" class="blog-item">
        <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
        <div class="blog-details">
            <h5 class="blog-title">I have recently found this particular...</h5>
            <h6>Posted By: Alex Raboudi</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
        </div> 
        <div class="engagement">
            <i class="fa-solid fa-message"></i>
            <h5>4</h5>
        </div>
    </a>
<hr>
<a routerLink="/blog" class="blog-item">
    <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
    <div class="blog-details">
        <h5 class="blog-title">I have recently found this particular...</h5>
        <h6>Posted By: Alex Raboudi</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
    </div> 
    <div class="engagement">
        <i class="fa-solid fa-message"></i>
        <h5>4</h5>
    </div>
</a>
        </div>
    </div>
    <div class="feed-content-right">
        <div class="recent-blog-title">
            <h4>Top Contributors</h4>
            <p>People who started the most discussions on Talks.</p>
        </div>
        <div class="recent-blog-list">
            <div class="recent-blog-item">
                <img src="assets/images/resumes-list-avatar-02.png" alt="" >
                <span>Alex Dolgove</span>
                <i class="fa-regular fa-comment-dots"></i>
                <span>137</span>
            </div>
            <div class="recent-blog-item">
                <img src="assets/images/resumes-list-avatar-02.png" alt="" >
                <span>Rania Dallagi</span>
                <i class="fa-regular fa-comment-dots"></i>
                <span>137</span>
            </div>
            <div class="recent-blog-item">
                <img src="assets/images/resumes-list-avatar-02.png" alt="" >
                <span>Fadoua Haj</span>
                <i class="fa-regular fa-comment-dots"></i>
                <span>137</span>
            </div>
        </div>
    </div>
    </div>
</div>
