<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-left">
            <div class="feed-content-left-header">
                <h5>Blogs</h5>
                <div class="categories">
                    <a class="actif-categ">All Pets</a>
                    <a>Dogs</a>
                    <a>Cats</a>
                </div>
            </div>
        <div class="blog-list">
            <a routerLink="/blog" class="blog-item">
                <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
                <div class="blog-details">
                    <h5 class="blog-title">Interesting JavaScript and CSS Libraries in 2021 you should be know</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
                    <div class="blog-engagement">
                        <div class="blog-engagement-item">
                            <i class="fa-regular fa-heart"></i>
                            <h6>12</h6>
                        </div>
                        <div class="blog-engagement-item">
                            <i class="fa-regular fa-comment"></i>
                            <h6>5</h6>
                        </div>
                    </div>
                </div> 
            </a>
        <hr>
        <a class="blog-item">
            <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
            <div class="blog-details">
                <h5 class="blog-title">Interesting JavaScript and CSS Libraries in 2021 you should be know</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
                <div class="blog-engagement">
                    <div class="blog-engagement-item">
                        <i class="fa-regular fa-heart"></i>
                        <h6>12</h6>
                    </div>
                    <div class="blog-engagement-item">
                        <i class="fa-regular fa-comment"></i>
                        <h6>5</h6>
                    </div>
                </div>
            </div> 
        </a>
    <hr>
    <a class="blog-item">
        <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
        <div class="blog-details">
            <h5 class="blog-title">Interesting JavaScript and CSS Libraries in 2021 you should be know</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
            <div class="blog-engagement">
                <div class="blog-engagement-item">
                    <i class="fa-regular fa-heart"></i>
                    <h6>12</h6>
                </div>
                <div class="blog-engagement-item">
                    <i class="fa-regular fa-comment"></i>
                    <h6>5</h6>
                </div>
            </div>
        </div> 
    </a>
<hr>
<a class="blog-item">
    <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img">
    <div class="blog-details">
        <h5 class="blog-title">Interesting JavaScript and CSS Libraries in 2021 you should be know</h5>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
        <div class="blog-engagement">
            <div class="blog-engagement-item">
                <i class="fa-regular fa-heart"></i>
                <h6>12</h6>
            </div>
            <div class="blog-engagement-item">
                <i class="fa-regular fa-comment"></i>
                <h6>5</h6>
            </div>
        </div>
    </div> 
</a>
        </div>
    </div>
    <div class="feed-content-right">
        <div class="recent-blog-title">
            <h4>Recently Posted</h4>
        </div>
        <div class="recent-blog-list">
            <div class="recent-blog-item">
                <a href="#"><h6>Awesome Web Dev Tools and Resources For 2021 in 30 Minutes</h6></a>
                <div class="recent-blog-details">
                    <p class="recent-blog-date">Sep 12,2020</p>
                    <div class="recent-blog-comments">
                        <i class="fa-regular fa-heart"></i>
                        <p>23</p>
                    </div>
                </div>
            </div>
            <div class="recent-blog-item">
                <a href="#"><h6>Awesome Web Dev Tools and Resources For 2021 in 30 Minutes</h6></a>
                <div class="recent-blog-details">
                    <p class="recent-blog-date">Sep 12,2020</p>
                    <div class="recent-blog-comments">
                        <i class="fa-regular fa-heart"></i>
                        <p>23</p>
                    </div>
                </div>
            </div>
            <div class="recent-blog-item">
                <a href="#"><h6>Awesome Web Dev Tools and Resources For 2021 in 30 Minutes</h6></a>
                <div class="recent-blog-details">
                    <p class="recent-blog-date">Sep 12,2020</p>
                    <div class="recent-blog-comments">
                        <i class="fa-regular fa-heart"></i>
                        <p>23</p>
                    </div>
                </div>
            </div>
            <div class="recent-blog-item">
                <a href="#"><h6>Awesome Web Dev Tools and Resources For 2021 in 30 Minutes</h6></a>
                <div class="recent-blog-details">
                    <p class="recent-blog-date">Sep 12,2020</p>
                    <div class="recent-blog-comments">
                        <i class="fa-regular fa-heart"></i>
                        <p>23</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
