.dashboard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    font-family: var(--font-cabin);
    color: #868686;
}
.feed-content{
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 1.2rem 7rem;
    display: flex;
    justify-content: space-between;
   /*  align-items: baseline; */
}
.feed-content-left{
    padding: 1rem;
    width: 75%;
}
.feed-content-left-header{
    width: 100%;
    padding: 15px 0; 
    font-weight: 600;
}
.feed-content-left-header h5{
    color: var(--title-color1);
    font-weight: bold;
    font-size: 1.5rem;
}
.feed-content-left-header .categories{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    padding: 10px 10px 0;
    color: var(--title-color1);
}
.feed-content-left-header .categories a{
     margin-right: 25px; 
     font-size: 1.1rem;
     cursor: pointer;
     border-bottom: solid transparent;
     border-width: 0 0 4px;
     border-radius: 5px;
     padding-bottom: 7px;
}
.feed-content-left-header .categories a:hover{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 0 0 4px;
}
.actif-categ{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 0 0 4px;
}
.blog-list{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 1px 1px rgba(112, 112, 112, 0.11), 
    0 2px 2px rgba(112, 112, 112, 0.11), 
    0 3px 4px rgba(112, 112, 112, 0.11), 
    0 4px 8px rgba(0,0,0,0.11);
    border-radius: 5px;
    width: 100%;
    padding: 20px 15px;
}
.blog-item{
    display: flex;
    justify-content: baseline;
    align-items: start;
    color: #868686;
    /* padding-bottom: 10px;
    border-bottom: 1 solid black; */
    padding:1rem 0;
}
.blog-item:hover{
    cursor: pointer;
}
.blog-img{
    border-radius: 10px;
    width: 350px;
    height: 150px;
    margin-right: 15px;
    cursor: pointer;
}
.blog-details .blog-title {
    font-weight: 700;
    cursor: pointer;
}
.blog-details .blog-title:hover{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blog-engagement{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.blog-engagement-item{
    display: flex;
    align-items: start;
    justify-content: baseline;
    margin-right: 25px;
}
.blog-engagement-item i{
    margin-right: 7px;
}
.feed-content-right{
    width: 25%;
    margin-left: 80px;
    padding: 1rem 0;

}
.recent-blog-title{
    width: 100%;
    padding: 15px 0; 
    font-weight: 600;
}
.recent-blog-title h4{
    color: var(--title-color1);
    font-weight: bold;
    font-size: 1.2rem;
}
.recent-blog-item h6{
    color: var(--title-color1);
    margin-bottom: 1px;
    line-height: 1.5em;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 400;
}
.recent-blog-details{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.recent-blog-details p{
    font-size: 13px;
}
.recent-blog-date{
    margin-right: 20px;
    margin-top: 0;
}
.recent-blog-comments{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.recent-blog-comments i{
    margin-right: 7px;
}
.my_pagination /deep/ .ngx-pagination .current{
    background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
      margin-top: 50px;
      margin-left: 150px;
      margin-right: 150px;
      font-family: "Montserrat";
      text-align: center;
      overflow: hidden;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      
      
  }
  .my_pagination /deep/ .ngx-pagination :hover{
     
    
          background: var(--gradient-color);
          color: var(--white);
      
  }