<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-left">
            <div class="feed-content-todo-menu">
                
                <ul>
                    <li class="todolists-title">
                        <a routerLink="/todolists">
                            <button>
                                <h5>ToDoLists</h5>
                            </button>
                        </a>
                    </li>
                    <li class="todo-btn">
                        <ul>
                            <li class="todo-important">
                                <a routerLink="/todolists/:important">
                                  <button class="todo-important-btn">Important ToDoLists</button>
                                </a>
                              </li>
                              <li style="position: relative">
                                <a href="/addtodo">
                                 <button class="todo-add-btn"><i class="fa-solid fa-square-plus" style="color: #001D23;"></i> Add ToDo</button>
                                </a>
                              </li>
                        </ul>
                    </li>
                    
                    
                  </ul>
            </div>

            <div class="add-todo">
                <h3>New ToDo</h3>
                
                <form >
                    <div class="formulaire">
                        <div class="form-title">
                            <label for="titre">Title</label><br>
                            <input type="text" name="titre" class="input">
                        </div>
                        <div class="form-date">
                            <label for="date">Date</label><br>
                            <input type="date" name="date" class="input">
                        </div>
                        <div class="form-desc">
                            <label for="desc">Description</label><br>
                            <input type="text" name="desc" class="input">
                        </div>
                        
                        <div class="form-anim">
                            <label for="Anim">Animal: </label>

                            <!--lezim ya5idh liste ta3 7ayawenet mta3 il user-->
                            <select name="Anim" id="animal-all">
                                <option value="animal1">Animal 1</option>
                                <option value="animal2">Animal 2</option>
                                <option value="animal3">Animal 3</option>
                            </select>
                        </div>
                    </div>    
                    <div class="add-todo-btn">
                        <button class="btn-seve-todo"><i class="fa-solid fa-floppy-disk" style="color: #001d23;"></i>Save</button>
                        <button class="btn-cancel-todo">cancel</button>

                    </div>
                    
                </form>
            </div>
            
            </div>
    </div>
    
