<!DOCTYPE html>
<html lang="en">

<body>
<app-header></app-header>>
<div class="inner-page-banner">
<div class="breadcrumb-vec-btm">
<img class="img-fluid" src="assets/images/bg/inner-banner-btm-vec.png" alt="">
</div>
<div class="container">
<div class="row justify-content-center align-items-center text-center">
<div class="col-lg-6 align-items-center">
<div class="banner-content">
<h1>Our Veterinarians</h1>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/home">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Veterinary</li>
</ol>
</nav>
</div>
</div>
<div class="col-lg-6">
<div class="banner-img d-lg-block d-none">
<div class="banner-img-bg">
<img class="img-fluid" src="assets/images/bg/inner-banner-vec.png" alt="">
</div>
<img class="img-fluid" src="assets/images/bg/inner-banner-img.png" alt="">
</div>
</div>
</div>
</div>
</div>


<div class="team-area two pt-120 mb-120">
<div class="container">
<div class="row gy-5">
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-001.png" alt="">
</div>
<div class="member-content">
<span>Co-Founder</span>
<h3>Kash Preston</h3>
 </div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-002.png" alt="">
</div>
<div class="member-content">
<span>Kennel Assistant</span>
<h3>Scarlett
Emily</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-003.png" alt="">
</div>
<div class="member-content">
<span>Veterinary Assistant</span>
<h3>Jackson Mateo</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-004.png" alt="">
</div>
<div class="member-content">
<span>Groomer Manager</span>
<h3>Madison
Ellie</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-005.png" alt="">
</div>
<div class="member-content">
<span>Team Manager</span>
<h3>Luna Camila</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-006.png" alt="">
</div>
<div class="member-content">
<span>Dog Walker</span>
<h3>Elias Josiah</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-007.png" alt="">
</div>
<div class="member-content">
<span>pet sitter</span>
<h3>Scarlett Emily</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-008.png" alt="">
</div>
<div class="member-content">
<span>Cat Behaviorist</span>
<h3>Ezekiel Miles</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-009.png" alt="">
 </div>
<div class="member-content">
<span>Pet Trainer</span>
<h3>Cooper Waylon</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-0010.png" alt="">
</div>
<div class="member-content">
<span>Veterinary Medicine</span>
<h3>Colton Roman</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-0011.png" alt="">
</div>
<div class="member-content">
<span>Pet Trainer</span>
<h3>Daniel Michael</h3>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team-card">
<div class="member-img">
<img class="img-fluid" src="assets/images/bg/team/team-0012.png" alt="">
</div>
<div class="member-content">
<span>Veterinary Medicine</span>
<h3>Julian Hudson</h3>
</div>
</div>
</div>
</div>
</div>
</div>
<app-footer></app-footer>
</body>
</html>