<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
        <div class=" feed-content container">
        <div class="row gy-5">
            <div class="feed-content-header">
                <h5>Veterinarians</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 item" >
            <div class="single-team-card">
            <div class="member-img">
            <img class="img-fluid" src="assets/images/bg/team/team-001.png" alt="">
            </div>
            <div class="member-content">
            <h3>nom</h3>
            <span >email</span><br>
            <span >tel</span><br>
            <span><address></address></span>
            
             </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 item" >
                <div class="single-team-card">
                <div class="member-img">
                <img class="img-fluid" src="assets/images/bg/team/team-001.png" alt="">
                </div>
                <div class="member-content">
                <h3>nom</h3>
                <span >email</span><br>
                <span >tel</span><br>
                <span><address></address></span>
                
                 </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 item" >
                    <div class="single-team-card">
                    <div class="member-img">
                    <img class="img-fluid" src="assets/images/bg/team/team-001.png" alt="">
                    </div>
                    <div class="member-content">
                    <h3>nom</h3>
                    <span >email</span><br>
                    <span >tel</span><br>
                    <span><address></address></span>
                    
                     </div>
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 item" >
                        <div class="single-team-card">
                        <div class="member-img">
                        <img class="img-fluid" src="assets/images/bg/team/team-001.png" alt="">
                        </div>
                        <div class="member-content">
                        <h3>nom</h3>
                        <span >email</span><br>
                        <span >tel</span><br>
                        <span><address></address></span>
                        
                         </div>
                        </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 item" >
                            <div class="single-team-card">
                            <div class="member-img">
                            <img class="img-fluid" src="assets/images/bg/team/team-001.png" alt="">
                            </div>
                            <div class="member-content">
                            <h3>nom</h3>
                            <span >email</span><br>
                            <span >tel</span><br>
                            <span><address></address></span>
                            
                             </div>
                            </div>
                            </div>
        </div>
            </div>
</div>
