<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-left-comtent">
        <form class="new-post"  [formGroup]="ajoutForm" (ngsubmit)="ajouterPublication()">
            <div class="write-new-post">
                <img alt="image" src="assets/images/resumes-list-avatar-02.png" class="post-profil-pic" />
                <input type="text" name="" id="" placeholder="What's in your mind?" formControlName="text">
                <button  type="submit"  id="post-btn"  (click)="ajouterPublication()" ><i class="fa-solid fa-share" ></i>Post</button>
            </div>
            <div class="new-post-img">
                <img [src]="imgURL" style="display: none" onload="this.style.display=''"/>
            </div>
            <div class="new-post-option">
                <div  (click)="file.click()" class="new-post-option-item">
                    <i  class="fa-solid fa-image"></i>
                    <h6>Photo/Video</h6>
                    <input id="default-btn" type="file" hidden accept="image/*" #file (change)="onSelectFile($event)" formControlName="image">
                </div>
                <div class="new-post-option-item">
                    <i  class="fa-solid fa-user-tag"></i>
                    <h6>Tag Friend</h6>
                </div>
                <div class="new-post-option-item">
                    <i  class="fa-regular fa-face-smile"></i>
                    <h6>Feeling/Activity</h6>
                </div>
            </div>
        </form>
        <div class="posts-section">
            <div class="post"   *ngFor="let ser of liste3">
                <div class="post-header">
                    <img alt="image" src="assets/images/resumes-list-avatar-02.png" class="post-Profil-pic" />
                    <div class="post-details">
                        <h4>{{ser.proprietaire?.nom}}{{"  "}}{{ser.proprietaire?.prenom}}</h4>
                        <h5>{{ser.datepub}}</h5>
                    </div>
                </div>
                <div class="post-content">
                    <h5>{{ser.text}}</h5>
                    <!-- <img alt="image" src="assets/images/bg/gallery/3col-big-img-01.png" class="post-image" /> -->
                     <img [src]="ser.image"  class="post-image" alt="image">
                </div>
                <div class="post-footer">
                <div class="post-actions">
                    <div class="like-action">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <h6>Like</h6>
                    </div>
                    <div class="comment-action">
                        <i class="fa-solid fa-comment-dots"></i>
                        <h6>Comment</h6>
                    </div>
                </div>
                <hr>
                <div class="comment-item">
                    <img alt="image" src="assets/images/resumes-list-avatar-02.png" class="comment-profil-pic" />
                    <div class="comment-second-div">
                        <p>In ut odio libero vulputate</p>
                        <div class="comment-item-action">
                            <div class="love-comment">
                                <i class="fa-regular fa-heart"></i>
                                <h6>Love</h6>
                            </div>
                            <h6 class="reply-comment">Reply</h6>
                        </div>
                    </div>
                </div>
                <div class="comment-item">
                    <img alt="image" src="assets/images/resumes-list-avatar-02.png" class="comment-profil-pic" />
                    <div class="comment-second-div">
                        <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. David !</p>
                        <div class="comment-item-action">
                            <div class="love-comment">
                                <i class="fa-regular fa-heart"></i>
                                <h6>Love</h6>
                            </div>
                            <h6 class="reply-comment">Reply</h6>
                        </div>
                    </div>
                </div>
                <div class="post-comment">
                    <input type="text" class="input-comment" placeholder="Add your Comment...">
                    <button  id="post-btn" ><i class="fa-solid fa-share"></i>Post</button>
                </div>
                
            </div>
        </div>
        
        </div>
    </div>
    <div class="feed-content-right">
        <div class="birthdays-div section-title1">
            <h5>Birthdays</h5>
            <div class="celebrate-div">
                <!-- <img class="gift-img"src="assets/images/gift.png" alt=""> -->
                <i class="fa-solid fa-gift"></i>
                <p>Celebrate NouNou's Birthday!</p>
            </div>
        </div>
        <div class="birthdays-div section-title1">
            <h5>Cure & Diseases</h5>
            <div class="celebrate-div">
                <!-- <img class="gift-img"src="assets/images/gift.png" alt=""> -->
                <p> Canine distemper!</p>
            </div>
        </div>
    </div>
    </div>
</div>
