<app-header1></app-header1>
<div class="dashboard-container">
    <app-dashboard-menu></app-dashboard-menu>
    <div class="feed-content">
        <div class="feed-content-left">
        <div class="blog-list">
            <div class="blog-item">
                <!-- <img src="assets/images/resumes-list-avatar-02.png" alt="" class="blog-img"> -->
                <img [src]="currentBlog.img" alt="" class="blog-img">
                <div class="blog-details">
                    <h2 class="blog-title">{{currentBlog.titre}}</h2>
                    <!-- <p>{{currentBlog.description}}</p> -->
                    <br><br>
                    <p> {{currentBlog.text}}</p>
                </div> 
            </div>
        </div>
        <div class="comment-section">
            <h5 class="title">Comments (2)</h5>
            <div class="comment">
                <img src="assets/images/resumes-list-avatar-02.png" alt="">
                <div class="comment-details">
                    <h6 class="comment-publisher">Rania Dallagi</h6>
                    <h6 class="comment-date">10th, April 2021</h6>
                    <p class="comment-text"> Good</p>
                </div>
            </div>
            <div class="comment">
                <img src="assets/images/resumes-list-avatar-02.png" alt="">
                <div class="comment-details">
                    <h6 class="comment-publisher">Samar Raboudi</h6>
                    <h6 class="comment-date">10th, April 2021</h6>
                    <p class="comment-text">Excelent Blog</p>
                </div>
            </div>
            <input class="comment-input" type="text" name="" id="" placeholder="Write your comment..">
        </div>
    </div>
    <div class="feed-content-right">
        <div class="recent-blog-title">
            <h4>Recently Posted</h4>
        </div>
        <div class="recent-blog-list"  *ngFor="let vet of liste4 | paginate:{itemsPerPage:4,currentPage:page,totalItems:nbVet}">
            <div class="recent-blog-item">
                <a><h6  [routerLink]="['/blog',vet.id]">{{vet.titre}}</h6></a>
                <div class="recent-blog-details">
                    <p class="recent-blog-date">Sep 12,2020</p>
                    <div class="recent-blog-comments">
                        <i class="fa-regular fa-heart"></i>
                        <p>23</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
