<app-header></app-header>
<div class="hero-style-1">
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-lg-11">
    <div class="row">
    <div class="col-xxl-6 col-xl-5 d-flex align-items-center">
    <div class="banner-content ">
    <div class="tag">
    <ul>
    <li>Trustworthy</li>
    <li>Safely</li>
    <li>Loyalty</li>
    </ul>
    </div>
    <h1>To Ensure Perfect<br> Service Of Your <span  > Pets.</span></h1>
    </div>
    </div>
    <div class="col-xxl-6 col-xl-7 d-flex align-items-center justify-content-md-start justify-content-center">
    <div class="banner-img">
    <img class="img-fluid" src="assets/images/bg/new-banner-img.png" alt="">
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="hero-video-area">
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-lg-11">
    <div class="video-wraper">
        <video autoplay loop="loop" muted preload="auto">
        <source src="assets/video/video-02.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="h1-service-area pt-120 mb-120">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
    <div class="section-title1 text-center">
    <span><img src="assets/images/icon/section-vec-l1.svg" alt="">Services<img src="assets/images/icon/section-vec-r1.svg" alt=""></span>
    <h2>Experience our worship</h2>
    </div>
    </div>
    </div>
    <div class="row d-sm-flex d-none">
    <div class="col-lg-12">
    <div class="swiper-btn-wrap d-flex align-items-center justify-content-between">
    <!-- <div class="slider-btn prev-btn-1">
    <i class="bi bi-arrow-left"></i>
    </div>
    <div class="slider-btn next-btn-1">
    <i class="bi bi-arrow-right"></i>
    </div> -->
    </div>
    </div>
     </div>
    <div class="row" style="justify-content: space-between;">
        <div class="services-card1"  style="width: 300px;height: 350px;margin-left: 10px;" >
        <img class="services-card-vec" src="assets/images/bg/services-card-vec.png" alt="">
        <div class="icon">
        <img src="assets/images/icon/daycare-center2.svg" alt="">
        </div>
        <div class="content">
        <h3><a href="/listeDaycare">Daycare </a></h3>
        <p>Daycare facilities to make your pet get in some valuable playtime.</p>
        </div>
        <a class="more-btn" href="/listeDaycare">More Details<img src="assets/images/icon/btn-arrow1.svg" alt=""></a>
        </div>
        
        <div class="services-card1 two" style="width: 300px;">
        <img class="services-card-vec" src="assets/images/bg/services-card-vec.png" alt="">
        <div class="icon">
        <img src="assets/images/icon/grooming2.svg" alt="">
        </div>
        <div class="content">
        <h3><a href="/listeGrooming">Grooming </a></h3>
        <p>Keep your pet pretty with the best pet grooming services.</p>
        </div>
        <a class="more-btn" href="/listeGrooming">More Details<img src="assets/images/icon/btn-arrow1.svg" alt=""></a>
        </div>
   
        <div class="services-card1 three" style="width: 300px;">
        <img class="services-card-vec" src="assets/images/bg/services-card-vec.png" alt="">
        <div class="icon">
        <img src="assets/images/icon/boarding2.svg" alt="">
        </div>
        <div class="content">
        <h3><a href="/listeBoarding">Boarding</a></h3>
        <p>Pamer your pet with Specialized pet boarding facilities.</p>
        </div>
        <a class="more-btn" href="/listeBoarding">More Details<img src="assets/images/icon/btn-arrow1.svg" alt=""></a>
        </div>
   
        <div class="services-card1 four" style="width: 300px;">
        <img class="services-card-vec" src="assets/images/bg/services-card-vec.png" alt="">
        <div class="icon">
        <img src="assets/images/icon/veterinary2.svg" alt="">
        </div>
        <div class="content">
        <h3><a href="/vet">veterinary</a></h3>
        <p>Get in touch with the best Veterinaries in town.</p>
        </div>
        <a class="more-btn" href="/vet">More Details<img src="assets/images/icon/btn-arrow1.svg" alt=""></a>
        </div>
   
    
    </div>
    </div>
    </div>
    
    
    <div class="h1-story-area mb-120">
    <div class="container">
    <div class="row g-lg-4 gy-5">
    <div class="col-lg-6">
    <div class="section-title1">
    <span><img src="assets/images/icon/section-vec-l1.svg" alt="">Our Story<img src="assets/images/icon/section-vec-r1.svg" alt=""></span>
    <h2>come to know what we have done about pets.</h2>
    </div>
    <div class="story-content">
    <p>Instanim hosts millions of pet lovers and shares valuable insights via blogs and articles for pet lovers.The website provides a chance for pets moms and dads to speak with professionals on health issues with pet features and to find the perfect centers to take care of their furry friends. </p>
    </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
    <div class="story-img">
    <img class="img-fluid" src="assets/images/bg/story-img1.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
   
    
    
    <div class="h1-choose-area mb-120">
    <div class="container ">
    <div class="row g-lg-4 gy-5 justify-content-center">
    <div class="col-lg-5">
     <div class="section-title1">
    <span><img src="assets/images/icon/section-vec-l1.svg" alt="">Why Choose Us<img src="assets/images/icon/section-vec-r1.svg" alt=""></span>
    <h2>we provide the best care services.</h2>
    </div>
    <div class="choose-content">
    <p>Feel safe and secure with referenced, reviewed, and verified pet centers. Join our pet-loving community and share advice, advocate for animals, take better care of your pet and make new friends – human and animal.
    </p>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    01. Feel safe and secure with reviewed, and verified pet centers.
    </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    Pellentesque maximus augue orci, quis congue purus iaculis id. Maecenas eudocl lorem quis massal
    molestie vulputate in sit amet diam. Cras eu odio sit amet ont tellus. Cras ut sollicitudin urna.
    Vivamus blandit, </div>
    </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    02. Read the best blogs offering advice on looking after your pets.
    </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    Pellentesque maximus augue orci, quis congue purus iaculis id. Maecenas eudocl lorem quis massal
    molestie vulputate in sit amet diam. Cras eu odio sit amet ont tellus. Cras ut sollicitudin urna.
    Vivamus blandit, </div>
    </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    03. Share with our pet-loving community your memorable moments with your pet.
    </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    Pellentesque maximus augue orci, quis congue purus iaculis id. Maecenas eudocl lorem quis massal
    molestie vulputate in sit amet diam. Cras eu odio sit amet ont tellus. Cras ut sollicitudin urna.
    Vivamus blandit,
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-5 col-md-8">
    <div class="choose-img">
    <div class="batch">
    <img src="assets/images/icon/choose-star.svg" alt="">
    <span>100% Safe<br>
    Your Pet</span>
    </div>
    <div class="choose-vector">
    <img src="assets/images/icon/choose-vector.svg" alt="">
    </div>
    <img class="img-fluid" src="assets/images/bg/choose-img.png" alt="choose-img">
    </div>
    </div>
    <div class="col-lg-2">
    <div class="choose-feature">
    <ul>
    <li>
    <div class="single-choose-card">
    <div class="icon">
    <img src="assets/images/icon/care.svg" alt="">
    </div>
    <div class="content">
    <h4>Personalized experiences</h4>
    <p>Read the best blogs offering advice on looking after your pets.</p>
    </div>
    </div>
    </li>
    <li>
    <div class="single-choose-card">
    <div class="icon">
    <img src="assets/images/icon/team.svg" alt="">
    </div>
    <div class="content">
    <h4>Trusted Team</h4>
    <p>Share with our pet-loving community your memorable moments with your pet.</p>
 
    </div>
    </div>
    </li>
    <li>
    <div class="single-choose-card">
    <div class="icon">
    <img src="assets/images/icon/mind.svg" alt="">
    </div>
    <div class="content">
    <h4>Peace of mind</h4>
    <p>Feel safe and secure with reviewed, and verified pet centers</p>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    
    <app-footer></app-footer>
    