<app-header></app-header>
<!-- 
    <div class="inner-page-banner">
      <div class="breadcrumb-vec-btm">
        <img  class="img-fluid"   src="assets/images/bg/inner-banner-btm-vec.png"  alt=""/>
      </div>
      <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-6 align-items-center">
            <div class="banner-content">
              <h1> Add Your Pets</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Add Your Pets
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-img d-lg-block d-none">
              <div class="banner-img-bg">
                <img
                  class="img-fluid"
                  src="assets/images/bg/inner-banner-vec.png"
                  alt=""
                />
              </div>
              <img
                class="img-fluid"
                src="assets/images/bg/inner-banner-img.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="h1-story-area mb-120" style="margin-top: 100px;">
      <div class="container">
        <div class="row g-lg-4 gy-5">
          <div class="col-lg-6">
            <div class="section-title1">
              <span><img src="assets/images/icon/section-vec-l1.svg" alt="" />Welcome to Instanim !<img src="assets/images/icon/section-vec-r1.svg" alt=""/></span>
              <h2>Join the best pet-loving community.</h2>
            </div>
            <div class="story-content">
              <p>
                Choose the breed of your pet
                and enjoy your parenting experience while
                keeping your best friend happy, clean and healthy
                good health .
              
              </p>
              <div class="form-inner" style="display: flex; align-items: center;">
                <button (click)="Continue()" style="align-items: center; width: 200px; margin-top: 20px; padding: 10px 0;" class="primary-btn1 addPetDiv">Continue<i class="fa-solid fa-arrow-right-long" style="margin-left: 10px;"></i></button>
            </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center" >
            <div class="story-img">
              <div class="petDiv" style="margin-left: 200px;">
               <img src="..\assets\images\poppy-removebg.png" alt="poppy image" class="poppy">
            <img src="..\assets\images\cat-removebg.png" alt="cat image" class="cat">
            <h2>Registration of animals</h2>
            <form class="petFormDiv" [formGroup]="ajoutForm" (ngsubmit)="ajouterAnimal()">
               <div>
                        <div id="form-div">
                          <label >Enter Your Pet's Name *</label>
                          <input type="text" id="petName" name="petName" placeholder="Pet's Name" formControlName="petName" >
                          <small *ngIf="ajoutForm.controls['petName'].dirty && ajoutForm.hasError('required','petName')" class="text-danger">*Pet's name is required</small>
                        </div>
                        <div id="form-div">
                          <label >Enter Your Pet's Type *</label>
                          <select name="petType" id="pet_type">
                            <option value="cat">Cat</option>
                            <option value="dog">Dog</option>
                          </select>
                          <small *ngIf="ajoutForm.controls['petType'].dirty && ajoutForm.hasError('required','petType')" class="text-danger">*Pet's type is required</small>
                        </div>
                        <div id="form-div">
                          <label >Enter Your Pet's Birthday Date *</label>
                            <input type="date" id="petBirth" name="petBirth" formControlName="petBirth" >
                            <small *ngIf="ajoutForm.controls['petBirth'].dirty && ajoutForm.hasError('required','petBirth')" class="text-danger">*Pet's birthdate is required</small>
                        </div>
                </div> 
       
                        <div id="form-div" class="addPetDiv" style="text-align: center;">                    
                           <!--  <button (click)="ajouterAnimal()"  class="primary-btn1" style="margin-left: 100px;width: 200px;height:50px;"> Add Animal<img src="..\assets\images\empreinte-de-patte.png" alt=""></button> -->
                          <button (click)="ajouterAnimal()" style="align-items: center; width: 200px; margin-top: 20px; padding: 10px 0;" class="primary-btn1 addPetDiv">Add pet<i class="fa-solid fa-paw" style="margin-left: 10px;"></i></button>
                        </div>
            </form>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="location-map">
      <div class="vector">
        <img src="assets/images/bg/map-vector.png" alt="" />
      </div>
    </div> -->

 